#frame {
    border-radius: 5px;
    width: 80%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 3%;
    top: 10%;
    margin: auto;
    padding: 20px 20px 35px 20px;
}

@media (max-height: 764px) {
    #frame {
        height: 75%;
    }
}

@media (max-height: 600px) {
    #frame {
        height: 70%;
    }
}

table {
    width:100%;
    overflow: scroll;
    padding: 5px;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid darkgray;

}

h4 {
    margin: 0;
    margin-bottom: 7px;
}