body {
    background-color: #f0f0f0;
}

#fileContents {
    background-color: white;
    padding: 30px;
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    outline: none;

}

.mdc-drawer__header{
    margin-bottom: -20px;
}

.mdc-drawer__title {
    display: inline;
}