body {
    background-color: #f0f0f0;
}

#fileContents {
    background-color: white;
    padding: 30px;
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    outline: none;
    overflow: scroll;
}

.box {
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 50px;
}

#title {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 30px;
}

#computername {
    margin-top: 7px;
}

#message {
    color: red;
    margin-top: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;

}

:root {
    --mdc-dialog-container-fill-color: gray;
}

tr {
    border-bottom: 1px solid darkgray;
}

#link {
    padding-bottom:10px;
    border-bottom: 1px solid darkgray;
}





p {
    margin: 0;
}

#accounts-table input[type="text"]:disabled {
    background: transparent;
}

#accounts-table input[type="text"], #accounts-table input[type="number"], #accounts-table input[type="date"]{
    width: 155px;
    border: none;
    font-size: 15px;

}

#accounts-table input:focus {
    outline: none;
}